!!! 5
head
  title= title
  style
    body {
    }

    a { color: inherit; }
    a:hover { color: inherit; }
    a:visited { color: inherit; }

    li {
      list-style: none;
      font-family: "Segoe UI", Arial, Helvetica, sans-serif;
      font-size: 12pt;
      margin-bottom: 3px;
      display: table;
    }

    li:hover {
      background: #e0e0e0;
    }

    .date {
      color: #888;
      display: table-cell;
      width: 90px;
      margin-right: 10px;
    }

    .time {
      color: #999;
      display: table-cell;
      width: 70px;
      margin-right: 10px;
    }

    .who {
      color: #444;
      display: table-cell;
      width: 120px;
      margin-right: 10px;
      background: #efefef;
    }

    .text {
      padding-left: 3px;
      display: table-cell;
    }
body!= body
